@import '../../../../styles/mixins/media.scss';

.favorites {
  padding: 10px;
  position: relative;
  @include b(850) {
    padding: 10px 0;
  }
}

.favorites_main {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f2f37;
  border-radius: 10px;
  padding: 7px 10px;

  &__left {
    &__title {
      color: var(--white);
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__symbol {
      font-size: 14px;
      font-weight: 700;
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_arrow {
      transform: rotate(90deg);
    }
    &_price {
      font-weight: 600;
      font-size: 14px;
      margin-right: 15px;
    }
  }
}

// modal
.favorites_modal {
  width: 93%;
  @include b(1250) {
    width: 98%;
  }
  padding: 1px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  @include b(mobile) {
    width: 100%;
  }
  &__scroll {
    max-height: 284px;
    &.scroll {
      overflow-y: scroll;
      padding-right: 6px;
    }
  }
}

// item
.favorites_item {
  & + & {
    margin-top: 6px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
  padding: 13px 10px;
  border-radius: 8px;
  &__left {
    &__title {
      color: #867dba;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__symbol {
      font-size: 14px;
      font-weight: 700;
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_price {
      font-weight: 600;
      font-size: 14px;
      margin-right: 15px;
    }
    &_arrow {
      img {
        height: 18px;
        width: 18px;
      }
    }
  }
}
