@import '../../styles/mixins/flex.scss';

.dropdown {
  @include flex(row, center, center, nowrap);
  gap: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  width: 150px;
  color: var(--grey);
  background: var(--dark-soft);
  cursor: pointer;
  border-left: 1px solid var(--grey);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  &:hover {
    background: var(--gradient);
    color: var(--input-color);
  }
}

.label {
  @include flex(row, center, center, nowrap);
  gap: 10px;
  height: 100%;
  width: 100%;
}

.popup {
  @include flex(column, center, normal, nowrap);
  position: absolute;
  top: 100%;
  background: var(--dark-soft);
  min-width: 100%;
  z-index: 2000000;

  > div {
    width: 100%;
    padding: 20px 10px;
    cursor: pointer;
    color: #fff;

    &:hover {
      background: var(--gradient);
      color: #fff;
    }
  }
}

.children {
  @include flex(row, center, center, nowrap);
  width: 100%;
  height: 100%;
  pointer-events: none;
}
