@import '../../../styles/mixins/container.scss';
@import '../../../styles/mixins/grid.scss';
@import '../../../styles/mixins/gradient-text.scss';
@import '../../../styles/mixins/media.scss';

.block {
  background: linear-gradient(90deg, #040404 0%, #1c0e40 100%);
  padding: 100px 0 50px;
  @include b(mobile) {
    padding-bottom: 25px;
    background: none;
    padding-top: 0;
  }
}

.container {
  @include container(1390px);
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: var(--grey);
  margin-bottom: 70px;
  @include b(mobile){
    margin-bottom: 20px;
  }
}

.info_bottom {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  color: var(--grey);
  @include b(extramobile) {
    text-align: justify;
  }
}

.cards {
  @include grid(repeat(2, 1fr), auto, 0px);

  grid-column-gap: 100px;
  grid-row-gap: 172px;
  padding-bottom: 200px;
  margin-bottom: 50px;
  position: relative;

  &_line {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 5px;
    height: 67%;
    background-color: var(--blue);
  }

  @include b(mobile) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 25px;
    margin-bottom: 0;
    &_line {
      display: none;
    }
  }
}
// card
.card {
  position: relative;
  min-height: 357px;
  @include b(mobile) {
    min-height: 0;
  }
  background: radial-gradient(
      183.35% 154.66% at 71.43% 105.88%,
      rgba(111, 69, 255, 0) 0%,
      rgba(255, 99, 101, 0.2) 100%
    ),
    linear-gradient(90deg, #040404 0%, #1c0e40 100%);
  padding: 10px;

  &.rightCard {
    @include b(mobile) {
      top: 0;
    }
    top: 172px;

    &::after {
      left: -58px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 25px;
    right: -58px;
    background: var(--gradient);
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }
  @include b(mobile) {
    &::after {
      display: none;
    }
  }

  &_header {
    background-color: rgba(111, 69, 255, 0.2);
    padding: 16px 0;
    text-align: center;
    margin-bottom: 30px;
    span {
      font-size: 22px;
      font-weight: 700;
      @include gradient-text;
    }
  }

  &_body {
    padding: 0 10px;
  }

  &_row {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    line-height: 1.2;

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      min-width: 9px;
      margin-right: 10px;
      border-radius: 50%;
      background: var(--gradient);
    }
  }
}
