@import '../../../styles/mixins/flex.scss';

.modal {
  @include flex(column, center);
}

.title {
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.6px;
  color: #fff;
  margin-bottom: 32px;
}

.links {
  @include flex(column, center, center);

  width: 100%;
  margin-bottom: 30px;
}

.share_link {
  background: var(--gradient);
  cursor: pointer;
  padding: 6px;
  @include flex(row, center);
  font-size: 16px;
  position: relative;
  border-radius: 10px;
  color: #fff;
  width: 70%;

  &__img,
  &__title {
    position: relative;
    z-index: 10;
  }

  &__img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: var(--gradient);
    img {
      height: 38px;
      width: 38px;
    }
    margin-right: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #1b1b1f;
    transition: 0.4s ease;
    border-radius: 10px;
  }

  &:hover::after {
    background: var(--gradient);
  }

  & + & {
    margin-top: 20px;
  }
}
