html {
    --tv-color-platform-background: transparent;
    --tv-color-pane-background: transparent;
    
    /*
    --tv-color-toolbar-button-text: #ccc;

    /* TODO: Customize this shit...
    --tv-color-toolbar-button-text-active: #f79723;
    */
}

html.theme-dark,
html.theme-dark > body {
    --tv-color-toolbar-button-text: #ccc;
    
    color: #eee;
}

@media screen and (max-width: 420px) {
    .chart-container:after {
        width: 200px;
        height: 35px;
    }
}

.chart-page .chart-container {
    border-radius: 5px;
}

html.theme-dark div[class^=toggleButton] path[class^=arrow] {
    stroke: #fff !important;
}

html.theme-dark div[class^=toggleButton] path[class^=background] {
    fill: #1976d2;
}

div[class^=dateRangeWrapper] {
    display: none;
}