@mixin flex($direction: row, $alignment: normal, $justification: normal, $wrap: wrap, $flex: flex) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
  flex-wrap: $wrap;
}
