@mixin gradient-text(
  $gradient: var(--gradient),
  $gradient-replacement: var(--gradient-replacement)
) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $gradient-replacement;
  &::selection {
    span {
      -webkit-text-fill-color: #b3d4fc;
    }
    -webkit-text-fill-color: #ffffff;
  }
}
